<%- include('../partials/header') %> 

<h2>My Skills as of <%= time %></h2>
<ul>
  <% skills.forEach(function(s) { %>
    <li>
      <form action="/skills/<%= s.id %>?_method=DELETE" class="delete-form" method="POST">
        <button type="submit">X</button>
      </form>
      <a href="/skills/<%= s.id %>">
        <strong><%= s.technology %> </strong>
      </a>
      -
      <em><%= s.type %></em>
    </li>
  <% }); %>
</ul>


<%- include('../partials/footer') %>