<%- include('../partials/header') %>

<h1><%= skill.technology %></h1>
<h3>Type: <%= skill.type %></h3>
<h3>Experience:</h3>
<ul>
    <% for (let concept of skill.concepts) { %>
    <li><%= concept %></li>
    <% }; %>
</ul>

<%- include('../partials/footer') %>